<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/primefaces/template.xhtml">

	<ui:define name="title">Parametros</ui:define>

	<ui:define name="content">
		<h:form id="formList">
			<p:focus />
			<p:growl id="growl"
				life="5000"/>
			<div class="p-grid">
				<div class="p-col-12 p-md-6 p-lg-12">
					<div class="card ui-fluid">
						<h4>#{labels['Parametro.tituloCrear']}</h4>
						<div class="p-field p-grid">
							<h:outputText value="#{labels['Parametro.idTipoParametro']} *"
								id="otxIdTipoParametro" styleClass="p-col-12 p-md-2 p-lg-2" />
							<div class="p-col-12 p-md-4 p-lg-4">
								<p:selectOneMenu label="#{labels['Parametro.idTipoParametro']}"
									requiredMessage="#{labels['global.msgRequiredIni']} #{labels['Parametro.idTipoParametro}']}  #{labels['global.mssgRequired']} "
									value="#{ParametroController.objParametroSelected.idTipoParametro}"
									required="true" id="somIdTipoParametro">
									<f:selectItem
										itemLabel="#{labels['global.select.seleccionar']}"
										itemValue="" />
									<f:selectItems id="sitIdTipoParametro"
										value="#{ParametroController.itemsTipoParametro}" />
								</p:selectOneMenu>
							</div>

							<h:outputText value="#{labels['Parametro.nombre']} *"
								id="otxNombre" styleClass="p-col-12 p-md-2 p-lg-2" />
							<div class="p-col-12 p-md-4 p-lg-4">
								<p:inputText label="#{labels['Parametro.nombre']}" size="60"
									maxlength="60"
									requiredMessage="#{labels['global.msgRequiredIni']} #{labels['Parametro.nombre']}  #{labels['global.msgRequiredEnd']} "
									value="#{ParametroController.objParametroSelected.nombre}" 
									required="true" id="txtNombre" />
							</div>
						</div>
						<div class="p-field p-grid">
							<h:outputText value="#{labels['Parametro.descripcion']}"
								id="otxDescripcion" styleClass="p-col-12 p-md-2 p-lg-2" />
							<div class="p-col-12 p-md-4 p-lg-4">
								<p:inputText label="#{labels['Parametro.descripcion']}"
									size="60" maxlength="500"
									value="#{ParametroController.objParametroSelected.descripcion}"
									required="false" id="txtDescripcion" />
							</div>
						</div>

						<p:panelGrid columns="4" id="formPanelValor"
							columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
							layout="grid" styleClass="ui-panelgrid-blank"
							style="border:0px none; background-color:transparent;">

							<f:facet name="header">
								<p:row>
									<p:column styleClass="my-heading-row">Valor Parametro</p:column>
								</p:row>
							</f:facet>

							<h:outputText value="#{labels['Parametro.nombre']} *"
								id="otxNombreValor" />
							<p:inputText label="#{labels['Parametro.nombre']}" size="60"
								maxlength="60"
								requiredMessage="#{labels['global.msgRequiredIni']} Valor Parametro: #{labels['Parametro.nombre']}  #{labels['global.msgRequiredEnd']} "
								value="#{ParametroController.objParametroSelected.valorParametro.nombre}"
								required="true" id="txtNombreValor" />

							<h:outputText value="#{labels['Parametro.descripcion']}"
								id="otxDescripcionValor" />
							<p:inputText label="#{labels['Parametro.descripcion']}" size="60"
								maxlength="500"
								value="#{ParametroController.objParametroSelected.valorParametro.descripcion}"
								required="false" id="txtDescripcionValor" />


						</p:panelGrid>

						<p:panelGrid columns="1" id="formPanelDatatable"
							columnClasses="ui-grid-col-10" layout="grid"
							styleClass="ui-panelgrid-blank"
							style="border:0px none; background-color:transparent;">
							<p:dataTable width="100%" id="tblValorParam" var="registro"
								value="#{ParametroController.objParametroSelected.valorParametro.valor}"
								reflow="true" emptyMessage="No hay valores para mostrar"
								rows="10" paginator="true" paginatorPosition="top">

								<p:column headerText="#{labels['Parametro.valor.nombre']}">
									<h:outputText
										rendered="#{registro.editable eq 'N' ? true : false}"
										value="#{registro.nombre}" />
									<p:inputText value="#{registro.nombre}"
										rendered="#{registro.editable eq 'S' ? true : false}"
										required="false" id="txtNombreValorTbl" />
								</p:column>
								<p:column headerText="#{labels['Parametro.valor.descripcion']}">
									<h:outputText
										rendered="#{registro.editable eq 'N' ? true : false}"
										value="#{registro.descripcion}" />
									<p:inputText value="#{registro.descripcion}"
										rendered="#{registro.editable eq 'S' ? true : false}"
										required="false" id="txtDescripcionValorTbl" />
								</p:column>
								<p:column headerText="#{labels['Parametro.valor.valor']}">
									<p:textEditor maxlength="4000" required="true"
										id="txtValorEditor" widgetVar="editor1"
										requiredMessage="Debe ingresar el valor sugerido para el campo"
										value="#{registro.valor}" height="300"
										style="margin-bottom:10px" />
								</p:column>
							</p:dataTable>
						</p:panelGrid>
						<!--Botones-->
						<div class="div-container">
							<div class="aling-left">
								<p:commandButton value="#{labels['global.boton.save']}"
									style="width:auto" styleClass="GreenButton"
									title="#{labels['global.boton.save']}" disabled="false"
									action="#{ParametroController.actionSave}" id="btnCreate"
									update=":formList" />
								<p:commandButton value="#{labels['global.boton.cancelar']}"
									style="width:auto" styleClass="RedButton"
									title="#{labels['global.boton.cancelar']}" disabled="false"
									action="#{ParametroController.cleanObject}" id="btnCancel"
									update=":formList" immediate="true">
									<p:resetInput target=":formList" />
								</p:commandButton>
							</div>
							<p:blockUI block="formList" trigger="btnCreate" />

							<p:fieldset legend="Registros" style="margin-top:20px">
								<p:dataTable width="100%" id="table1" var="registro"
									value="#{ParametroController.listEntitiesDTO}" reflow="true"
									emptyMessage="No hay registros para mostrar" rows="10"
									paginator="true">
									<p:column styleClass="aling-center" style="width:15%"
										headerText="#{labels['global.acciones']}">
										<p:commandButton icon="fa fa-pencil"
											action="#{ParametroController.loadEdit(registro)}"
											update=":formList" title="Editar" process="@this"
											styleClass="BlueButton" />
										<!-- Colocar la acción para cambiar estado 'S' a 'N' y vicebersa, además el de eliminar -->
									</p:column>
									<p:column headerText="#{labels['Parametro.idTipoParametro']}"
										filterBy="#{registro.nombreTipo}" filterMatchMode="contains"
										id="column1">
										<h:outputText value="#{registro.nombreTipo}"
											id="otxIdTipoParametroTable" />
									</p:column>
									<p:column headerText="#{labels['Parametro.nombre']}"
										filterBy="#{registro.nombre}" filterMatchMode="contains"
										id="column2">
										<h:outputText value="#{registro.nombre}" id="otxNombreTable" />

									</p:column>
									<p:column headerText="#{labels['Parametro.descripcion']}"
										id="column3">
										<h:outputText value="#{registro.descripcion}"
											id="otxDescripcionTable" />

									</p:column>
									<p:column headerText="#{labels['Parametro.valor']}"
										id="column4">
										<h:outputText value="#{registro.valor}" id="otxValorTable" />

									</p:column>
								</p:dataTable>
							</p:fieldset>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>