.layout-wrapper {
    .layout-topbar {
        position: fixed;
        height: 60px;
        top: 0;
        left: 250px;
        right: 0;
        z-index: 997;
        padding: 8px 25px;
        background-color: $topbarBgColor;
        @include clearfix();
        @include shadow(0 3px 6px 0 rgba(0, 0, 0, 0.16));
        @include transition(left $transitionDuration);

        .layout-topbar-logo {
            display: none;

            img {
                margin-top: 7px;
                height: 30px;
            }
        }

        .layout-menu-button {
            float: left;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            color: $topbarIconColor;
            @include border-radius(50%);
            @include transition(background-color $transitionDuration);

            i {
                line-height: inherit;
                font-size: 24px;
            }

            &:hover {
                background-color: $topbarIconHoverBgColor;
            }
        }

        #topbar-menu-button {
            font-size: 28px;
            width: 44px;
            height: 44px;
            line-height: 44px;
            display: none;
            float: right;
            text-align: center;
            color: $topbarIconColor;
            @include border-radius(50%);
            @include transition(background-color $transitionDuration);

            i {
                line-height: inherit;
                font-size: 24px;
            }

            &:hover {
                background-color: $topbarIconHoverBgColor;
            }
        }

        .topbar-menu {
            float: right;
            padding: 0;
            margin: 0;
            list-style-type: none;
            
            > li {
                float: right;
                position: relative;
                margin-left: 14px;
                
                > a {
                    position: relative;
                    display: block;
                    width: 44px;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    @include border-radius(50%);
                    @include transition(background-color $transitionDuration);
                    
                    .topbar-icon {
                        color: $topbarIconColor;
                        line-height: inherit;
                        font-size: 24px;
                    }

                    > img {
                        width: 36px;
                        margin-top: 4px;
                    }

                    &:hover {
                        background-color: $topbarIconHoverBgColor;
                    }
                    
                    .topbar-item-name {
                        display: none;
                    }
                    
                    .topbar-badge {
                        position: absolute;
                        right: 4px;
                        top: 4px;
                        background-color: #e0284f;
                        color: #ffffff;
                        text-align: center;
                        line-height: 16px;
                        min-width: 16px;
                        min-height: 16px;
                        display: block;
                        font-size: 12px;
                        border-radius: 100%;
                    }
                }
            
                > ul {
                    position: absolute;
                    border: 1px solid $topbarMenuBorderColor;
                    top: 55px;
                    right: -18px;
                    display: none;
                    min-width: 250px;
                    background-color: $topbarMenuBgColor;
                    -webkit-animation-duration: $transitionDuration;
                    -moz-animation-duration: $transitionDuration;
                    animation-duration: $transitionDuration;
                    list-style-type: none;
                    margin: 0;
                    padding: 8px 12px;
                    @include border-radius($borderRadius);
                    @include shadow(0 2px 10px 0 rgba(0, 3, 6, 0.16));

                    &:before, &:after {
                        bottom: 100%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        left: 210px;
                    }

                    &:before {
                        border-color: rgba(216, 216, 220, 0);
                        border-bottom-color: $topbarMenuBorderColor;
                        border-width: 10px;
                        margin-left: -10px;
                    }

                    &:after {
                        border-color: rgba(244, 244, 249, 0);
                        border-bottom-color: $topbarMenuBgColor;
                        border-width: 9px;
                        margin-left: -9px;
                    }
                    
                    a {
                        box-sizing: border-box;
                        padding: 8px 12px;
                        text-align: left;
                        display: block;
                        width: 100%;
                        color: $menuitemTextColor;
                        position: relative;
                        @include transition(background-color $transitionDuration);
                        @include  border-radius($borderRadius);
                        
                        i {
                            margin-right: 8px;
                            color: $menuitemIconColor;
                        }
                        
                        img {
                            margin-right: 8px;
                            width: 24px;
                        }
                        
                        i,img,span {
                            vertical-align: middle;
                        }
                        
                        .topbar-submenuitem-badge {
                            background-color: $topbarBadgeBgColor;
                            color: $topbarBadgeTextColor;
                            text-align: center;
                            line-height: 16px;
                            min-width: 16px;
                            height: 16px;
                            font-size: 12px;
                            border-radius: 100%;
                            display: inline-block;
                            margin-left: 8px;
                        }
                        
                        &:hover {
                            background-color: $menuitemHoverBgColor;
                        }
                    }
                }
                
                &.active-topmenuitem {
                    > ul {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tabletBreakpoint) {
    .layout-wrapper {
        .layout-topbar {
            text-align: center;

            .layout-topbar-logo {
                display: inline-block;
            }

            #topbar-menu-button {
                display: block;
            }

            .topbar-menu {
                background-color: $topbarMenuBgColor;
                border: 1px solid $topbarMenuBorderColor;
                position: absolute;
                top: 70px;
                right: 25px;
                width: 250px;
                -webkit-animation-duration: $transitionDuration;
                -moz-animation-duration: $transitionDuration;
                animation-duration: $transitionDuration;
                display: none;
                list-style-type: none;
                margin: 0;
                padding: 8px 12px;
                @include shadow(0 2px 10px 0 rgba(0, 3, 6, 0.16));

                &:before, &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    left: 225px;
                }

                &:before {
                    border-color: rgba(216, 216, 220, 0);
                    border-bottom-color: $topbarMenuBorderColor;
                    border-width: 10px;
                    margin-left: -10px;
                }

                &:after {
                    border-color: rgba(244, 244, 249, 0);
                    border-bottom-color: $topbarMenuBgColor;
                    border-width: 9px;
                    margin-left: -9px;
                }

                &.topbar-menu-visible {
                    display: block;
                }
                
                > li {
                    width: 100%;
                    margin: 0;
                    float: none;

                    &.active-topmenuitem {
                        > ul {
                            display: block;
                        }
                    }

                    &.user-profile {
                        > a {
                            img {
                                margin-right: 8px;
                                margin-top: 0;
                                width: 24px;
                                vertical-align: middle;
                            }
                        }
                    }
                    
                    a {
                        box-sizing: border-box;
                        height: auto;
                        line-height: 1;
                        width: 100%;
                        display: block;
                        padding: 8px 12px;
                        position: relative;
                        text-align: left;
                        @include border-radius($borderRadius);
                        @include transition(background-color $transitionDuration);
                        
                        .topbar-icon {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 8px;
                            font-size: 16px;
                            color: $menuitemIconColor;
                        }
                        
                        &:hover {
                            background-color: $menuitemHoverBgColor;
                            color: $textColor;
                        }
                        
                        .topbar-item-name {
                            display: inline-block;
                            vertical-align: middle;
                            color: $menuitemTextColor;
                        }
                                        
                        .topbar-badge {
                            background-color: $topbarBadgeBgColor;
                            color: $topbarBadgeTextColor;
                            text-align: center;
                            line-height: 16px;
                            min-width: 16px;
                            height: 16px;
                            font-size: 12px;
                            border-radius: 100%;
                            display: inline-block;
                            position: static;
                            margin-left: 8px;
                        }
                    }
                    
                    > ul {
                        display: none;
                        list-style-type: none;
                        padding: 0 0 0 0;
                        margin: 0;
                        position: static;
                        top: auto;
                        left: auto;
                        width: 100%;
                        min-width: auto;
                        border: 0 none;
                        @include shadow(none);

                        &:before, &:after {
                            display: none;
                        }
                        
                        li {
                            a {
                                padding-left: 28px;

                                img {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            }                
        }
    }
}