$primaryColor: #607D8B !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#78909C !default;
$topbarBgColor:#607D8B !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#90A4AE !default;
$lightMenuitemActiveTextColor:#689F38 !default;
$darkMenuitemActiveTextColor:#8BC34A !default;
$horizontalMenuitemActiveBgColor:#607D8B !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#607D8B !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
