$primaryColor: #009688 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#26A69A !default;
$topbarBgColor:#009688 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#4DB6AC !default;
$lightMenuitemActiveTextColor:#009688 !default;
$darkMenuitemActiveTextColor:#009688 !default;
$horizontalMenuitemActiveBgColor:#009688 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#009688 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
