$primaryColor: #03A9F4 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#29B6F6 !default;
$topbarBgColor:#03A9F4 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#4FC3F7 !default;
$lightMenuitemActiveTextColor:#2196F3 !default;
$darkMenuitemActiveTextColor:#2196F3 !default;
$horizontalMenuitemActiveBgColor:#2196F3 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#03A9F4 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
