$primaryColor: #673AB7 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#7E57C2 !default;
$topbarBgColor:#673AB7 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#9575CD !default;
$lightMenuitemActiveTextColor:#673AB7 !default;
$darkMenuitemActiveTextColor:#9575CD !default;
$horizontalMenuitemActiveBgColor:#673AB7 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#673AB7 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
