$primaryColor: #3F51B5 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#5C6BC0 !default;
$topbarBgColor:#3F51B5 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#7986CB !default;
$lightMenuitemActiveTextColor:#5C6BC0 !default;
$darkMenuitemActiveTextColor:#5C6BC0 !default;
$horizontalMenuitemActiveBgColor:#5C6BC0 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#3F51B5 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
