$primaryColor: #9C27B0 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#AB47BC !default;
$topbarBgColor:#9C27B0 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#BA68C8 !default;
$lightMenuitemActiveTextColor:#9C27B0 !default;
$darkMenuitemActiveTextColor:#BA68C8 !default;
$horizontalMenuitemActiveBgColor:#9C27B0 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#9C27B0 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
