$primaryColor: #FF5722 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#FF7043 !default;
$topbarBgColor:#FF5722 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#FF8A65 !default;
$lightMenuitemActiveTextColor:#FF5722 !default;
$darkMenuitemActiveTextColor:#FF5722 !default;
$horizontalMenuitemActiveBgColor:#FF5722 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#FF5722 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
