$primaryColor: #8BC34A !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#9CCC65 !default;
$topbarBgColor:#8BC34A !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#AED581 !default;
$lightMenuitemActiveTextColor:#8BC34A !default;
$darkMenuitemActiveTextColor:#8BC34A !default;
$horizontalMenuitemActiveBgColor:#8BC34A !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#8BC34A !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
