$primaryColor: #4CAF50 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#66BB6A !default;
$topbarBgColor:#4CAF50 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#81C784 !default;
$lightMenuitemActiveTextColor:#4CAF50 !default;
$darkMenuitemActiveTextColor:#4CAF50 !default;
$horizontalMenuitemActiveBgColor:#4CAF50 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#4CAF50 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
