$primaryColor: #FFEB3B !default;
$primaryTextColor:#212121 !default;

$logoBgColor:#FFEE58 !default;
$topbarBgColor:#FFEB3B !default;
$topbarIconColor:#212121 !default;
$topbarIconHoverBgColor:#FFF176 !default;
$lightMenuitemActiveTextColor:#FBC02D !default;
$darkMenuitemActiveTextColor:#FFEB3B !default;
$horizontalMenuitemActiveBgColor:#FFEB3B !default;
$horizontalMenuitemActiveTextColor:#000000 !default;
$badgeBgColor:#FFEB3B !default;
$badgeTextColor:#212121 !default;

@import '../../sass/layout/_layout';
