$primaryColor: #2196F3 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#42A5F5 !default;
$topbarBgColor:#2196F3 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#64b5f6 !default;
$lightMenuitemActiveTextColor:#2196F3 !default;
$darkMenuitemActiveTextColor:#2196F3 !default;
$horizontalMenuitemActiveBgColor:#2196F3 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#2196F3 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
