$primaryColor: #795548 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#8D6E63 !default;
$topbarBgColor:#795548 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#A1887F !default;
$lightMenuitemActiveTextColor:#795548 !default;
$darkMenuitemActiveTextColor:#A1887F !default;
$horizontalMenuitemActiveBgColor:#795548 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#795548 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
