$primaryColor: #00BCD4 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#26C6DA !default;
$topbarBgColor:#00BCD4 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#4DD0E1 !default;
$lightMenuitemActiveTextColor:#00BCD4 !default;
$darkMenuitemActiveTextColor:#00BCD4 !default;
$horizontalMenuitemActiveBgColor:#00BCD4 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#00BCD4 !default;
$badgeTextColor:#212121 !default;

@import '../../sass/layout/_layout';
