$primaryColor: #FF9800 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#FFA726 !default;
$topbarBgColor:#FF9800 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#FFB74D !default;
$lightMenuitemActiveTextColor:#FF9800 !default;
$darkMenuitemActiveTextColor:#FF9800 !default;
$horizontalMenuitemActiveBgColor:#FF9800 !default;
$horizontalMenuitemActiveTextColor:#000000 !default;
$badgeBgColor:#FF9800 !default;
$badgeTextColor:#212121 !default;

@import '../../sass/layout/_layout';
