$primaryColor: #CDDC39 !default;
$primaryTextColor:#000000 !default;

$logoBgColor:#D4E157 !default;
$topbarBgColor:#CDDC39 !default;
$topbarIconColor:#212121 !default;
$topbarIconHoverBgColor:#DCE775 !default;
$lightMenuitemActiveTextColor:#9E9D24 !default;
$darkMenuitemActiveTextColor:#CDDC39 !default;
$horizontalMenuitemActiveBgColor:#CDDC39 !default;
$horizontalMenuitemActiveTextColor:#000000 !default;
$badgeBgColor:#CDDC39 !default;
$badgeTextColor:#212121 !default;

@import '../../sass/layout/_layout';
