$primaryColor: #E91E63 !default;
$primaryTextColor:#ffffff !default;

$logoBgColor:#EC407A !default;
$topbarBgColor:#E91E63 !default;
$topbarIconColor:#ffffff !default;
$topbarIconHoverBgColor:#F06292 !default;
$lightMenuitemActiveTextColor:#E91E63 !default;
$darkMenuitemActiveTextColor:#E91E63 !default;
$horizontalMenuitemActiveBgColor:#E91E63 !default;
$horizontalMenuitemActiveTextColor:#ffffff !default;
$badgeBgColor:#E91E63 !default;
$badgeTextColor:#ffffff !default;

@import '../../sass/layout/_layout';
