<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/primefaces/template.xhtml">

    <ui:define name="title">
        AutoComplete
    </ui:define>

    <ui:define name="description">
        AutoComplete displays suggestions while the input is being type. AutoComplete
        features various options, customizable content, multiple selection, effects and events.
    </ui:define>

    <ui:param name="documentationLink" value="/components/autocomplete"/>
    <ui:param name="widgetLink" value="AutoComplete-1"/>

    <ui:define name="implementation">
        <div class="card ui-fluid ">
            
        </div>
    </ui:define>

    <ui:define name="more-source-tabs">
        <p:tab title="/org/primefaces/showcase/convert/CountryConverter.java"/>
    </ui:define>
</ui:composition>
